In [50]:

# TASK 1: Data Cleaning & Preprocessing
# Dataset: Customer Personality Analysis
# Author: Baviseti Prasanthi

import pandas as pd

# 1Ô∏è‚É£ Load Dataset correctly (tab-separated file)
df = pd.read_csv("/Users/prasanthibaviseti/Downloads/marketing_campaign.csv", sep='\t')
print(f"‚úÖ Dataset loaded successfully with shape: {df.shape}")

# 2Ô∏è‚É£ Clean column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

‚úÖ Dataset loaded successfully with shape: (2240, 29)

In [52]:
# 3Ô∏è‚É£ Basic Info
print("\nüìä Dataset Info:")
df.info()

üìä Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2240 non-null   int64
 1   year_birth           2240 non-null   int64
 2   education            2240 non-null   object
 3   marital_status       2240 non-null   object
 4   income               2216 non-null   float64
 5   kidhome              2240 non-null   int64
 6   teenhome             2240 non-null   int64
 7   dt_customer          2240 non-null   object
 8   recency              2240 non-null   int64
 9   mntwines             2240 non-null   int64
 10  mntfruits            2240 non-null   int64
 11  mntmeatproducts      2240 non-null   int64
 12  mntfishproducts      2240 non-null   int64
 13  mntsweetproducts     2240 non-null   int64
 14  mntgoldprods         2240 non-null   int64
 15  numdealspurchases    2240 non-null   int64
 16  numwebpurchases      2240 non-null   int64
 17  numcatalogpurchases  2240 non-null   int64
 18  numstorepurchases    2240 non-null   int64
 19  numwebvisitsmonth    2240 non-null   int64
 20  acceptedcmp3         2240 non-null   int64
 21  acceptedcmp4         2240 non-null   int64
 22  acceptedcmp5         2240 non-null   int64
 23  acceptedcmp1         2240 non-null   int64
 24  acceptedcmp2         2240 non-null   int64
 25  complain             2240 non-null   int64
 26  z_costcontact        2240 non-null   int64
 27  z_revenue            2240 non-null   int64
 28  response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [33]:
# 4Ô∏è‚É£ Display first 5 rows neatly
print("\nüîπ Sample Data (first 5 rows):")
print(df.head().to_string(index=False))

üîπ Sample Data (first 5 rows):
  id  year_birth  education marital_status  income  kidhome  teenhome dt_customer  recency  mntwines  mntfruits  mntmeatproducts  mntfishproducts  mntsweetproducts  mntgoldprods  numdealspurchases  numwebpurchases  numcatalogpurchases  numstorepurchases  numwebvisitsmonth  acceptedcmp3  acceptedcmp4  acceptedcmp5  acceptedcmp1  acceptedcmp2  complain  z_costcontact  z_revenue  response
5524        1957 Graduation         Single 58138.0        0         0  2012-04-09       58       635         88              546              172                88            88                  3                8                   10                  4                  7             0             0             0             0             0         0              3         11         1
2174        1954 Graduation         Single 46344.0        1         1  2014-08-03       38        11          1                6                2                 1             6                  2                1                    1                  2                  5             0             0             0             0             0         0              3         11         0
4141        1965 Graduation       Together 71613.0        0         0         NaT       26       426         49              127              111                21            42                  1                8                    2                 10                  4             0             0             0             0             0         0              3         11         0
6182        1984 Graduation       Together 26646.0        1         0  2014-10-02       26        11          4               20               10                 3             5                  2                2                    0                  4                  6             0             0             0             0             0         0              3         11         0
5324        1981        Phd        Married 58293.0        1         0         NaT       94       173         43              118               46                27            15                  5                5                    3                  6                  5             0             0             0             0             0         0              3         11         0

In [54]:
# 5Ô∏è‚É£ Handle Missing Values
print("\nüß© Missing values before cleaning:")
print(df.isnull().sum())

if 'income' in df.columns:
    df['income'] = df['income'].fillna(df['income'].mean())  # ‚úÖ Fixed line

df.dropna(inplace=True)

print("\n‚úÖ Missing values after cleaning:")
print(df.isnull().sum())

üß© Missing values before cleaning:
id                      0
year_birth              0
education               0
marital_status          0
income                 24
kidhome                 0
teenhome                0
dt_customer             0
recency                 0
mntwines                0
mntfruits               0
mntmeatproducts         0
mntfishproducts         0
mntsweetproducts        0
mntgoldprods            0
numdealspurchases       0
numwebpurchases         0
numcatalogpurchases     0
numstorepurchases       0
numwebvisitsmonth       0
acceptedcmp3            0
acceptedcmp4            0
acceptedcmp5            0
acceptedcmp1            0
acceptedcmp2            0
complain                0
z_costcontact           0
z_revenue               0
response                0
dtype: int64

‚úÖ Missing values after cleaning:
id                     0
year_birth             0
education              0
marital_status         0
income                 0
kidhome                0
teenhome               0
dt_customer            0
recency                0
mntwines               0
mntfruits              0
mntmeatproducts        0
mntfishproducts        0
mntsweetproducts       0
mntgoldprods           0
numdealspurchases      0
numwebpurchases        0
numcatalogpurchases    0
numstorepurchases      0
numwebvisitsmonth      0
acceptedcmp3           0
acceptedcmp4           0
acceptedcmp5           0
acceptedcmp1           0
acceptedcmp2           0
complain               0
z_costcontact          0
z_revenue              0
response               0
dtype: int64

In [46]:

# 6Ô∏è‚É£ Remove Duplicates
before = df.shape[0]
df.drop_duplicates(inplace=True)
after = df.shape[0]
print(f"\nüßπ Removed {before - after} duplicate rows.")

# 7Ô∏è‚É£ Standardize Text Columns
if 'marital_status' in df.columns:
    df['marital_status'] = df['marital_status'].str.strip().str.title()
if 'education' in df.columns:
    df['education'] = df['education'].str.strip().str.title()

üßπ Removed 0 duplicate rows.

In [56]:
# 8Ô∏è‚É£ Fix Date Format
if 'dt_customer' in df.columns:
    df['dt_customer'] = pd.to_datetime(df['dt_customer'], errors='coerce')

# 9Ô∏è‚É£ Final Info
print("\nüìã Final Dataset Info:")
df.info()

# üîü Save cleaned data
output_path = "/Users/prasanthibaviseti/Downloads/Customer_Personality_Analysis_Cleaned.csv"
df.to_csv(output_path, index=False)
print(f"\nüíæ Cleaned dataset saved successfully at:\n{output_path}")

üìã Final Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2240 non-null   int64
 1   year_birth           2240 non-null   int64
 2   education            2240 non-null   object
 3   marital_status       2240 non-null   object
 4   income               2240 non-null   float64
 5   kidhome              2240 non-null   int64
 6   teenhome             2240 non-null   int64
 7   dt_customer          916 non-null    datetime64[ns]
 8   recency              2240 non-null   int64
 9   mntwines             2240 non-null   int64
 10  mntfruits            2240 non-null   int64
 11  mntmeatproducts      2240 non-null   int64
 12  mntfishproducts      2240 non-null   int64
 13  mntsweetproducts     2240 non-null   int64
 14  mntgoldprods         2240 non-null   int64
 15  numdealspurchases    2240 non-null   int64
 16  numwebpurchases      2240 non-null   int64
 17  numcatalogpurchases  2240 non-null   int64
 18  numstorepurchases    2240 non-null   int64
 19  numwebvisitsmonth    2240 non-null   int64
 20  acceptedcmp3         2240 non-null   int64
 21  acceptedcmp4         2240 non-null   int64
 22  acceptedcmp5         2240 non-null   int64
 23  acceptedcmp1         2240 non-null   int64
 24  acceptedcmp2         2240 non-null   int64
 25  complain             2240 non-null   int64
 26  z_costcontact        2240 non-null   int64
 27  z_revenue            2240 non-null   int64
 28  response             2240 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(25), object(2)
memory usage: 507.6+ KB

üíæ Cleaned dataset saved successfully at:
/Users/prasanthibaviseti/Downloads/Customer_Personality_Analysis_Cleaned.csv